{% extends 'CatalogueBundle::mybase.html.twig' %}

{% block body -%}{{ parent() }}
    <h1>Person edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('persons') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
