{% extends 'CatalogueBundle::mybase.html.twig' %}

{% block body -%}{{ parent() }}
    <h1>Person creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('persons') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
